# environment specific
# + + + + + + + + + + + + + + + + + + + +
.idea/
venv/

# python specific
# + + + + + + + + + + + + + + + + + + + +
*.pyc

# volumes
# + + + + + + + + + + + + + + + + + + + +
_monitor-export

