*.pyc
_site
build/*
tags
.ropeproject
.bundle
.idea/
monitor.ini
config.ini
monitors.ini
monitor.json
htmlcov/
.coverage
.idea/
html/status.html
html/index.html
monitor.db
monitor?.log
monitor2.db
_monitor-export/
venv/
env/
*.vscode
*.swp
docs/.sass-cache
docs/vendor
monitor.log
monitor.pid
output.json
did_recover*
simplemonitor.egg-info
dist
/html
network.log
.coverage.*
.ring_token.cache
simplemonitor.code-workspace
