[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pync = {version = ">=2.0.3",sys_platform = "== 'darwin'"}
simplemonitor = {extras = ["ring", "arlo"], editable = true, path = "."}

[dev-packages]
"flake8" = "*"
codecov = "*"
coverage = "*"
black = "*"
mypy = "*"
bandit = "*"
freezegun = "*"

[pipenv]
allow_prereleases = true
