[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simplemonitor = {extras = ["ring", "arlo"], editable = true, path = "."}

[dev-packages]
"flake8" = "*"
codecov = "*"
coverage = "*"
black = "*"
mypy = "*"
bandit = "*"
freezegun = "*"
pytest = "*"

[pipenv]
allow_prereleases = true
