-i https://pypi.python.org/simple/
boto3==1.12.5
botocore==1.15.5
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
colorlog==4.1.0
cryptography==2.8
docutils==0.15.2
idna==2.8
jmespath==0.9.4
oauthlib==3.1.0
paho-mqtt==1.5.0
psutil==5.7.0
pycparser==2.19
pync==2.0.3 ; sys_platform == 'darwin'
pyopenssl==19.1.0
python-dateutil==2.8.1
pytz==2019.3
pywin32==227 ; sys_platform == 'win32'
requests-oauthlib==1.3.0
requests==2.22.0
ring-doorbell==0.6.0
s3transfer==0.3.3
six==1.14.0
urllib3==1.25.8 ; python_version != '3.4'
