name: Linting

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    name: Python ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Check pip
        run: pip --version
      - name: Update pip
        run: pip install --upgrade pip
      - name: Install poetry
        run: pip install poetry
      - name: poetry install
        run: poetry install
      - name: check code style with ruff
        run: make ruff-format-check
      - name: ruff check
        run: make ruff-check
      - name: bandit
        run: make bandit
      - name: mypy
        run: make mypy
